body {
    background-color:#fff;
}

h1 { 
     font-size: 10em;
     font-face: "Alef";
     color: black;
}

h2 { 
     font-size: 3em;
     font-face: "Alef";
     color: DarkGray;
}

p {
    font-size: 2em;
    font-face: "Telex";
    color: #2f4f4f ;
 }

.step
{
	position: relative;
	width: 500px;
	padding: 50px;
	margin: 0 auto;
	background-color: #FAF0E6;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

